<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Gymster.Project.Template" description="Templete Serializations">
					<targetDataStore physicalRootPath="$(sourceFolder)\Serialization\Templates" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<!--<include name="Layouts" database="master" path="/sitecore/layout/Layouts/YourSite" />-->
						<include name="GymsterTemplates" database="master" path="/sitecore/templates/Gymster" />
						<!--<include database="master" path="/sitecore/system/Languages" />
						<include database="master" path="/sitecore/system/Tasks">
							<exclude path="Schedules" />
						</include>
						<include database="master" path="/sitecore/system/Workflows" />
						<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>
				</configuration>
			</configurations>
			<configurations>
				<configuration name="Gymster.Project.Presentation" description="Presentation Serializations">
					<targetDataStore physicalRootPath="$(sourceFolder)\Serialization\Presentation" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="Layouts" database="master" path="/sitecore/layout/Layouts/Gymster" />
						<include name="Renderings" database="master" path="/sitecore/layout/Renderings/Gymster" />
						</predicate>
				</configuration>
			</configurations>
			<configurations>
				<configuration name="Gymster.Project.CoreDB" description="Core Sitecore Serializations">
					<targetDataStore physicalRootPath="$(sourceFolder)\Serialization\CoreDatabase" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="FieldEditorButtons" database="core" path="/sitecore/content/Applications/WebEdit/Custom Experience Buttons/Gymster" />						
						</predicate>
				</configuration>
			</configurations>
			<configurations>
				<configuration name="Gymster.Project.Media Library" description="Media Serializations">
					<targetDataStore physicalRootPath="$(sourceFolder)\Serialization\Media" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="Gymster.Media" database="master" path="/sitecore/media library/Gymster" />						
						</predicate>
				</configuration>
			<configuration name="Gymster.Project.Content" description="Content Serializations">
					<targetDataStore physicalRootPath="$(sourceFolder)\Serialization\Content" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="Gymster.Content" database="master" path="/sitecore/content/Gymster" />						
						</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
